@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?ogftjy');
  src:  url('fonts/icomoon.eot?ogftjy#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?ogftjy') format('truetype'),
    url('fonts/icomoon.woff?ogftjy') format('woff'),
    url('fonts/icomoon.svg?ogftjy#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-minus:before {
  content: "\e91c";
}
.icon-plus:before {
  content: "\e91d";
}
.icon-check:before {
  content: "\e91b";
  color: #009848;
}
.icon-yt:before {
  content: "\e91a";
}
.icon-fb:before {
  content: "\e911";
  color: #636363;
}
.icon-in:before {
  content: "\e912";
  color: #828282;
}
.icon-ok:before {
  content: "\e913";
  color: #828282;
}
.icon-vk:before {
  content: "\e914";
  color: #828282;
}
.icon-timer:before {
  content: "\e90e";
  color: #009848;
}
.icon-truck:before {
  content: "\e90f";
  color: #009848;
}
.icon-medal:before {
  content: "\e910";
  color: #009848;
}
.icon-arr_bold_simple_down:before {
  content: "\e915";
}
.icon-arr_bold_simple_left:before {
  content: "\e916";
}
.icon-arr_bold_simple_right:before {
  content: "\e917";
}
.icon-arr_bold_simple_up:before {
  content: "\e918";
}
.icon-arr_simple_down:before {
  content: "\e909";
}
.icon-arr_simple_left:before {
  content: "\e90a";
}
.icon-arr_simple_right:before {
  content: "\e90b";
}
.icon-arr_simple_up:before {
  content: "\e90c";
}
.icon-arr_down:before {
  content: "\e905";
  color: #009848;
}
.icon-arr_left:before {
  content: "\e906";
  color: #009848;
}
.icon-arr_right:before {
  content: "\e907";
  color: #009848;
}
.icon-arr_up:before {
  content: "\e908";
  color: #009848;
}
.icon-close:before {
  content: "\e919";
  color: #909090;
}
.icon-callback:before {
  content: "\e900";
  color: #8f8f8f;
}
.icon-cart:before {
  content: "\e901";
  color: #fff;
}
.icon-favorites:before {
  content: "\e902";
  color: #8f8f8f;
}
.icon-favorites_active:before {
  content: "\e90d";
  color: #8f8f8f;
}
.icon-search:before {
  content: "\e903";
  color: #8f8f8f;
}
.icon-user:before {
  content: "\e904";
  color: #8f8f8f;
}
